<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->

  <Section Name="CDCConfigSection">
    <Parameter Name="CDC_AzureEventHubsConnectionString" Value="" />
    <Parameter Name="CDC_EventHubName" Value="" />
    <Parameter Name="CDC_SourceCluster" Value="" />
    <Parameter Name="CDC_StorageContainerName" Value="" />
    <Parameter Name="CDC_StorageAccountName" Value="" />
    <Parameter Name="CDC_StorageAccountKey" Value="" />
  </Section>
</Settings>
